<launch>
    <include file="$(find turtlebot3_big_house)/launch/turtlebot3_big_house.launch" />
    <!-- <include file="$(find turtlebot3_slam)/launch/turtlebot3_slam.launch" /> -->
    <!-- <include file="$(find turtlebot3_navigation)/launch/move_base.launch" /> -->
    <!-- <node name="explore_lite" pkg="explore_lite" type="explore.lite" /> -->

    <include file="$(find turtlebot3_navigation)/launch/move_base.launch"/>
    <include file="$(find turtlebot3_slam)/launch/turtlebot3_slam.launch" />
    <include file="$(find explore_lite)/launch/explore.launch" />
    <!-- <node name="goals" pkg="simple_navigation_goals" type="simple_navigation_goals.py" output="screen"/> -->
</launch>